__pycache__
.pytest_cache
.github
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.env
.venv
venv/
my_env
ENV/
*.log
db.sqlite3
.DS_Store
.vscode
.idea
*.md
Dockerfile
docker-compose.yml
htmlcov
maria-db
media/marker_photos/*
sonar-project.properties
.pre-commit-config.yaml
.prettierrc
.gitleaks.toml
README.md
.coveragerc
.coverage