TEST_PASSWORD='asdqwe123' #pass for unit tests
DBNAME='' # your value
DBUSER='' # your value
DBPASSWORD='' # your value
DBHOST='' # your value
DBPORT='' # your value

MARIADB_ROOT_PASSWORD='' # your value
